<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/base.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='/js/ajax.js'></script>
  </head>
  <body>
    <h1 class="workshop-name">Add Volunteer</h1>
    <div class="content">

      <h1>{{ title }} Form</h1>

      <form name="adduser" method="post" action="/adduser">
        <li>First Name</li>
        <li><input type="text" placeholder="FirstName" name="firstname"></li>

        <li>Last Name</li>
        <li><input type="text" placeholder="LastName" name="lastname"></li>

        <li>Email</li>
        <li><input type="text" placeholder="Email" name="email"></li>

        <li>Background Check</li>
        <li><input type="text" placeholder="Background" name="background"></li>

        <li>Phone</li>
        <li><input type="text" placeholder="Phone" name="phone"></li>

        <li>Address</li>
        <li><input type="text" placeholder="Address" name="address"></li>

        <li>IDD</li>
        <li><input type="text" placeholder="IDD" name="idd"></li>


        <li>Task</li>
        <li><input type="text" placeholder="Task" name="task"></li>

        <li>Student</li>
        <li><input type="text" placeholder="Student" name="student"></li>

        <li>Events Signed Up</li>
        <li><input type="text" placeholder="SignedUp" name="signedup"></li>

        <li>Events Attended</li>
        <li><input type="text" placeholder="Attended" name="attended"></li>

        <li>Contacted</li>
        <li><input type="text" placeholder="Contacted" name="contacted"></li>

        <li>Donated</li>
        <li><input type="text" placeholder="Donated" name="donated"></li>

        <li>Transportation</li>
        <li><input type="text" placeholder="transportation" name="transportation"></li>

        <li>Other Involvement</li>
        <li><input type="text" placeholder="other" name="other"></li>

        <li><button class="submit">Submit</button></li>

      </form>

      <a href="/userlist">See userlist</a>
    </div>
  </body>
</html>