<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/base.css'/>
    <link rel='stylesheet' href='/stylesheets/users.css'/>
  </head>
  <body>
    <h1 class="workshop-name">6.148 Day 4 Handlebars Workshop</h1>
    <div class="content">
      {{> profile_partial}}
    </div>
  </body>
</html>
