<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/table.css'/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script type="text/javascript" src="/js/table.js"></script>
  </head>
  <body>
  <form name="signup" method="post" action="/signup">
  <button class="button">Add Volunteer</button>
  </form>
  <div id="users">
  <input class="search" placeholder="Search for Keywords">
  <h1>Volunteer List</h1>
  <div class="tbl-header">
    <table id="datatable" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th id = "name">Name</th>
          <th id = "email" >Email</th>
          <th id = "phone" >Phone</th>
          <th id = "address" >Address</th>
          <th id = "task" >Task</th>
          <th id = "signedup" >Events Signed Up</th>
          <th id = "attended" >Events Attended</th>
          <th id = "contacted" >Contacted</th>
          <th id = "transportation" >Transportation</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table id = "datatable2" cellpadding="0" cellspacing="0" border="0">
      <tbody class = "list">
        {{#each users}}
        <tr>
            <td class = "name">{{firstName}}, {{lastName}}</td>
            <td class = "email">{{email}}</td>
            <td class = "phone">123</td>
            <td class = "address">test</td>
            <td class = "task">Fall, Winter, Summer</td>
            <td class = "signedup">Fall, Summer</td>
            <td class = "attended">Y</td>
            <td class = "contacted">N</td>
            <td class = "transportation">Y</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
  </body>
</html>
